# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Baram_Project_2022_second_half_GA
/Baram_Project_2022_second_half_GA/Baram_Project_2022_second_half_GA.vcxproj.filters
/Baram_Project_2022_second_half_GA/Baram_Project_2022_second_half_GA.vcxproj.user
*.vcxproj
*.sln
/x64/Debug
/Baram_Project_2022_second_half_GA/x64/Debug/Baram_Pr.a2f4c00d.tlog
*.recipe
*.ilk
/Baram_Project_2022_second_half_GA/x64/Debug
