# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Baram_Project_2022_second_half_GA
/Baram_Project_2022_second_half_GA/Baram_Project_2022_second_half_GA.vcxproj.filters
/Baram_Project_2022_second_half_GA/Baram_Project_2022_second_half_GA.vcxproj.user
*.vcxproj
*.sln
/x64/Debug
/Baram_Project_2022_second_half_GA/x64/Debug/Baram_Pr.a2f4c00d.tlog
*.recipe
*.ilk
/Baram_Project_2022_second_half_GA/x64/Debug
/Baram_Project_2022_second_half_GA/WeightSaveFile_9
/Baram_Project_2022_second_half_GA/WeightSaveFile_8
/Baram_Project_2022_second_half_GA/WeightSaveFile_7
/Baram_Project_2022_second_half_GA/WeightSaveFile_6
/Baram_Project_2022_second_half_GA/WeightSaveFile_5
/Baram_Project_2022_second_half_GA/WeightSaveFile_4
/Baram_Project_2022_second_half_GA/WeightSaveFile_3
/Baram_Project_2022_second_half_GA/WeightSaveFile_2
/Baram_Project_2022_second_half_GA/WeightSaveFile_15
/Baram_Project_2022_second_half_GA/WeightSaveFile_14
/Baram_Project_2022_second_half_GA/WeightSaveFile_13
/Baram_Project_2022_second_half_GA/WeightSaveFile_12
/Baram_Project_2022_second_half_GA/WeightSaveFile_11
/Baram_Project_2022_second_half_GA/WeightSaveFile_10
/Baram_Project_2022_second_half_GA/WeightSaveFile_1
/Baram_Project_2022_second_half_GA/WeightSaveFile_0
/Baram_Project_2022_second_half_GA/Staticstics_1667031590.csv
/Baram_Project_2022_second_half_GA/Staticstics_1667031372.csv
/Baram_Project_2022_second_half_GA/Staticstics_1666995428.csv
/Baram_Project_2022_second_half_GA/Staticstics_1666989337.csv
/Baram_Project_2022_second_half_GA/Staticstics_1666988541.csv
/Baram_Project_2022_second_half_GA/Staticstics_1666984795.csv
/Baram_Project_2022_second_half_GA/Staticstics_1666984328.csv
/Baram_Project_2022_second_half_GA/Staticstics_1666984322.csv
/Baram_Project_2022_second_half_GA/Staticstics_1666984296.csv
/Release
/x64/Release
